.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
  text-underline-offset: 0.5rem;
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  text-underline-offset: 0.5rem;
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: white;
}

